<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">        
        <title>Página de inicio</title>
    </head>

    <body>
        Mensaje desde el controlador: <h1 th:text="${mensaje}"></h1>
        Otra forma de mostrar mensaje: [[${mensaje}]]

        <br>Listas
        <ol>
            <li th:each="elemento : ${lista}" th:text="${elemento}"></li>
        </ol>

        <br>Modelo
        <h3 th:text="'ID ' + ${modelo.id}"></h3>
        <h3 th:text="'Nombre ' + ${modelo.nombre}"></h3>

    </body>
</html>